form{
    width: 80%;
    position: relative;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=search]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
i{
    color:blue;
    position: absolute;
    left: 9%;
    top: 34%;
    bottom: 33%;
}
#i2{
    color:blue;
    position: absolute;
    left: 9%;
    top: 48%;
    bottom: 33%; 
}
#lock_recovry{
    color:blue;
    position: absolute;
    left: 9%;
    top: 38%;
    bottom: 33%;
}
#i3_recovry{
    color:blue;
    position: absolute;
    left: 9%;
    top: 53%;
    bottom: 33% 
}
button {
    background-color:#362ae2;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 50px;
    float: right;
}
/* set a hover effect for the button*/
p.aa{
    text-align: center;
}
button:hover {
    opacity: 0.8;
}
fieldset{
    border-radius: 2%;
}
legend {
color: #362ae2;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


img.avatar {
    width: 40%;
    border-radius: 50%;
}


.container {
    padding: 50px;
}


span.psw {
    color: blue;
    padding: 14px 20px;
    margin: 8px 0;
}


@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}